/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* My Css */
  :root {
    --black-color:rgb(21, 21, 21);
    --red-color: rgb(169, 29, 58);
    --pink-color: rgb(199, 54, 89);
    --white-color: rgb(238, 238, 238);
  }

  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(300px, 1fr) minmax(500px, 5fr)
  }

  .sidebar {
    display: grid;
    grid-template-rows: minmax(80px, 1fr) minmax(400px, 4fr);
    color: var(--white-color);
    font-weight: bold;
    background-color: var(--black-color);
  }

  .logo-content,
  .action {
    display: grid;
    grid-template-columns: minmax(70px, 1fr) minmax(150px, 3fr);
    padding: 1rem;
    gap: 0.5rem;
  }

  .logo-content {
    place-items: center;
    align-self: start;
  }

  .logo,
  .action-icon {
    fill: var(--white-color);
  }
  .logo {
    width: 80px;
  }

  .logo-text {
    font-size: 2.5rem;
    justify-self: start;
  }

  .actions {
    display: flex;
    flex-direction: column;
  }

  .action-icon {
    width: 30px;
    justify-self: center;
  }

  .action-button {
    justify-self: start;
    appearance: none;
    background-color: var(--white-color);
    border-radius: 8px;
    width: max(90px, 50%);
    color: var(--black-color);
  }

  .action-button:hover {
    color: var(--red-color);
    box-shadow: 2px 2px 2px var(--pink-color);
  }

  /* Temp */